* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

/*header*/

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  height: 10vh;
}
.hamberger {
  display: none;
}
.cancle-navigation {
  display: none;
}

.navigations ul {
  list-style: none;
  display: flex;
  gap: 2vw;
  justify-content: space-between;
}
.navigations ul a {
  padding-bottom: 3vh;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  font-size: 0.75em;
}
.navigations a:hover {
  color: black;
  border-bottom: 0.5vh solid transparent;
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
}
.request-button {
  padding: 1vw;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border: none;
  border-radius: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-weight: bolder;
}
.request-button:hover {
  background: linear-gradient(to right, hsl(136, 65%, 70%), hsl(192, 70%, 70%));
}
/* section1 starts */
.section1 {
  display: flex;
  background-color: hsl(0, 0%, 98%);
  background-image: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-size: 50vw 100vh, 100vw 100vh;
  background-repeat: no-repeat, no-repeat;
  background-position: top -4vh right -8vw, top -25vh right -40vw;
}

.text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;
  margin-top: 20vh;
  flex-basis: 35vw;
  margin-bottom: 18vh;
}
.text-part h2 {
  font-size: 3em;
  line-height: 1em;
  color: hsl(0, 0%, 20%);
  margin-bottom: 4vh;
}
.text-part p {
  font-size: 1em;
  line-height: 1.5em;
  color: hsl(233, 8%, 62%);
  margin-bottom: 3vh;
}
.img-part {
  image-rendering: auto;
  position: absolute;
  top: -3vh;
  right: -9vw;
}
/* section 1 ends */

/* section 2 starts */

.section2 {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
}
.section2 h3 {
  color: hsl(0, 0%, 20%);
  font-size: 2.5em;
  margin-top: 8vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
}
.section2 .heading-description {
  margin-left: 10vw;
  color: hsl(233, 8%, 62%);
  font-size: 1em;
  line-height: 2em;
}

.features {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
  margin-top: 10vh;
}
.feature1,
.feature2,
.feature3,
.feature4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5em;
  width: 17vw;
}
.feature-heading {
  color: hsl(0, 0%, 20%);
  font-size: 1.5em;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
.feature-discription {
  color: hsl(233, 8%, 62%);
  font-size: 0.75em;
}
/* section 3 starts */

.section3 {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
}
.section3 h3 {
  color: hsl(0, 0%, 20%);
  font-size: 2.5em;
  margin-bottom: 6vh;
  margin-left: 10vw;
  margin-top: 10vh;
}
.articles {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}
.article1,
.article2,
.article3,
.article4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 17vw;
}
.articles img {
  align-self: auto;
  height: 25vh;
  width: 17vw;
  border-top-right-radius: 0.5vw;
  border-top-left-radius: 0.5vw;
}
.article-info {
  height: 22vh;
  width: 15vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2em;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
.article-author {
  color: hsl(233, 8%, 62%);
  font-size: 0.5em;
}
.article-heading {
  color: hsl(0, 0%, 20%);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 1em;
  cursor: pointer;
}
.article-heading:hover {
  color: hsl(136, 65%, 51%);
}
.article-discription {
  color: hsl(233, 8%, 62%);
  font-size: 0.75em;
}
/* section 3 ends */

/*footer*/
footer {
  background-color: hsl(233, 26%, 24%);
}
.footer-container {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  gap: 10vw;
  align-items: center;
  height: 20vh;
}

.footer-block1 {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
.apps {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}
.apps img {
  cursor: pointer;
}

img svg path:hover {
  background-color: hsl(136, 65%, 51%);

  color: hsl(136, 65%, 51%);
  fill: hsl(136, 65%, 51%);
}
.footer-block2 {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 0.75em;
}
.left-block ul,
.right-block ul {
  display: flex;
  flex-direction: column;
  width: 10vw;
  justify-content: space-between;
  gap: 2vh;
}
.left-block ul a,
.right-block ul a {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.footer-block2 a:hover {
  color: hsl(136, 65%, 51%);
}
.footer-block3 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.footer-block3 .request-button {
  align-self: flex-end;
}
.footer-block3 p {
  color: hsl(233, 8%, 62%);
  font-size: 0.75em;
  align-self: flex-start;
}
.attribution a {
  color: white;
  font-size: 1em;
}
.attribution {
  color: black;
  text-align: center;
  margin-bottom: 1vh;
}

/* footer ends */

/* hamburger */

.closeImg {
  display: none;
}
#navigations-hamberger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#navigations-hamberger img {
  width: 10vw;
  height: 4vh;
  margin-right: 8vw;
}
.popup .closeImg {
  display: block;
}
.popup .hamburgerImg {
  display: none;
}

.popup .mobile-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0vw 15vh 50vw hsl(0, 0%, 9%);
  text-decoration: none;
}

.mobile-nav-list {
  display: none;
  position: absolute;
  padding: 0;
  top: 5em;
  left: 1.1em;
  right: 1.1em;
  margin: 0 auto;
  height: 39.5vh;
  width: 85vw;
  border-radius: 1vh;
}

.mobile-nav-list li {
  margin-bottom: 1vh;
}
.mobile-nav-list li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* hamburger ends */

/* mobile and tab view */

@media screen and (max-width: 376px) {
  .header-container .navigations {
    display: none;
  }

  #navigations-hamberger {
    display: block;
  }
  .header-container .request-button {
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }
  .request-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 8vw;
  }

  /* section 1 */

  .section1 {
    background-image: url("./images/image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw 50vh, 100vw 50vh;
    background-position: top -4vh right 0vw, top -5vh right 0vw;
  }
  .text-part {
    align-items: center;
    text-align: center;
    padding-left: 10vw;
    margin-top: 50vh;
    flex-basis: 80vw;
    margin-bottom: 18vh;
  }
  .text-part h2 {
    font-size: 2em;
    margin-bottom: 2vh;
  }
  .text-part p {
    font-size: 1em;
    line-height: 1.5em;
    color: hsl(233, 8%, 62%);
    margin-bottom: 3vh;
  }
  .img-part {
    image-rendering: auto;
    position: absolute;
    top: -3vh;
    right: -9vw;
  }

  /* section 2 */

  .section2 h3 {
    text-align: center;
    line-height: 6vh;
  }
  .section2 {
    margin-top: -10vh;
  }
  .section2 .heading-description {
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature1,
  .feature2,
  .feature3,
  .feature4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vh;
    width: 80vw;
  }

  /* section 3 */

  .section3 h3 {
    margin-left: 0vw;
    text-align: center;
    font-size: 2em;
  }
  .articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article1,
  .article2,
  .article3,
  .article4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .articles img {
    width: 90vw;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
  }
  .article-info {
    width: 80vw;
    justify-content: center;
    align-items: flex-start;
  }
  /* footer */
  .footer-container {
    flex-direction: column;
    margin-left: 0vw;
    margin-right: 0vw;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
    height: auto;
  }
  .footer-logo {
    margin-top: 5vh;
  }
  .footer-block1 {
    flex-direction: column;
    gap: 5vh;
  }
  .footer-block2 {
    flex-direction: column;
    align-items: center;
  }
  .left-block ul,
  .right-block ul {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  .footer-block3 {
    margin-top: -2vh;
    margin-bottom: 5vh;
    gap: 2vh;
  }
  .footer-block3 .request-button {
    align-self: center;
  }
  .footer-block3 p {
    align-self: center;
  }
}
/* adding color to social media icon on hover */
.social-media path:hover {
  fill: red;
}
